<div class="container">
  <button mat-fab (click)="snav.toggle()" class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [mode]="'side'" fixedTopGap="56" class="sidenav" opened>
      <h2 class="title">StarData</h2>
      <mat-nav-list class="nav-link-list">
        <a
          class="nav-link"
          matRipple
          [routerLink]="['/dashboard/']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <mat-icon>home</mat-icon>
          Dashboard
        </a>
        <a
          class="nav-link"
          matRipple
          [routerLink]="['data-analysis']"
          routerLinkActive="active"
        >
          <mat-icon>query_stats</mat-icon>
          Data Analysis
        </a>
        <a
          class="nav-link"
          matRipple
          [routerLink]="['add-user']"
          routerLinkActive="active"
        >
          <mat-icon>person_add</mat-icon>
          Add User
        </a>
        <a
          class="nav-link"
          matRipple
          [routerLink]="['manage-account']"
          routerLinkActive="active"
        >
          <mat-icon>manage_accounts</mat-icon>
          Manage Account
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <router-outlet> </router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
