<div class="container">
  <button mat-fab (click)="snav.toggle()" class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [mode]="'side'" fixedTopGap="56" class="sidenav" opened>
      <div class="title">
        <img src="logo.png" alt="" class="title-image" />
        <h2 class="title-text">StarData</h2>
      </div>
      <mat-nav-list class="nav-link-list">
        <a
          class="nav-link"
          matRipple
          [routerLink]="['/dashboard/']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <mat-icon>home</mat-icon>
          Dashboard
        </a>
        <a
          class="nav-link"
          matRipple
          [routerLink]="['manage-category']"
          routerLinkActive="active"
        >
          <mat-icon>category</mat-icon>
          Manage Categories
        </a>
        <a
          class="nav-link"
          matRipple
          [routerLink]="['add-graph']"
          routerLinkActive="active"
        >
          <mat-icon>post_add</mat-icon>
          Add Graph
        </a>
        <a
          class="nav-link"
          matRipple
          [routerLink]="['assign-file']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <mat-icon>contact_page</mat-icon>
          Assign Files
        </a>
        <a
          class="nav-link"
          matRipple
          [routerLink]="['data-analysis']"
          routerLinkActive="active"
        >
          <mat-icon>query_stats</mat-icon>
          Data Analysis
        </a>
        <a
          class="nav-link"
          matRipple
          [routerLink]="['manage-users']"
          routerLinkActive="active"
        >
          <mat-icon>manage_accounts</mat-icon>
          Manage Users
        </a>
        <a
          class="nav-link"
          matRipple
          [routerLink]="['manage-account']"
          routerLinkActive="active"
        >
          <mat-icon>settings</mat-icon>
          Manage Account
        </a>
        <button
          class="nav-link logout-button"
          matRipple
          (click)="logoutClick()"
        >
          <mat-icon>logout</mat-icon>
          Log Out
        </button>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
