<div class="container">
  <app-card class="card">
    <div #network id="network"></div>
    <div #menuTrigger [matMenuTriggerFor]="menu"></div>
  </app-card>
  <app-card class="side-bard">
    <form class="form">
      <mat-form-field appearance="outline" class="search-field">
        <mat-label>Search</mat-label>
        <input matInput />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
    <div class="accounts">
      @for (account of accounts; track $index) {
      <div class="account-data">
        {{ account }}
        <div class="icons">
          <span
            class="material-symbols-outlined"
            matTooltip="Show node as graph"
          >
            network_node
          </span>
          <mat-icon class="info-icon" matTooltip="Show node information">
            info
          </mat-icon>
        </div>
      </div>
      }
    </div>
    <mat-paginator
      class="paginator"
      [length]="length"
      [pageIndex]="pageIndex"
      [pageSize]="10"
      [hidePageSize]="true"
      [showFirstLastButtons]="true"
      aria-label="Select page"
      (page)="handlePageEvent($event)"
    >
    </mat-paginator>
  </app-card>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Show node information</button>
    <button mat-menu-item>Get all edges</button>
  </mat-menu>
</div>
