<app-card class="container">
  <div class="header">
    <div class="profile-info">
      <div class="profile-pic">
        <img src="https://i.postimg.cc/J4fR2XfB/header-bg.jpg" alt="Profile Picture">
        <button class="edit-btn">
          <span class="material-icons">edit</span>
        </button>
      </div>
    </div>
  </div>
  <div class="profile-details">
    <h1>{{ userInfo.firstName }} {{ userInfo.lastName }}</h1>
    <p><mat-icon>email</mat-icon> {{ userInfo.email }}</p>
    <p><mat-icon>phone</mat-icon>{{ userInfo.phoneNumber }}</p>
  </div>
</app-card>
