<app-card class="container">
  <div class="header">
    <div class="profile-info">
      <div class="profile-pic">
        <img src="https://i.postimg.cc/J4fR2XfB/header-bg.jpg" alt="Profile Picture">
        <button class="edit-btn">
          <span class="material-icons">edit</span>
        </button>
      </div>
    </div>
  </div>
  <div class="profile-details">
    <h1>Kevin Smith</h1>
    <p>Advisor and Consultant at Stripe Inc.</p>
    <p>📍 Saint-Petersburg, Russia</p>
  </div>
</app-card>
