<p>
  Enter your new password. Your password should be at least 8 characters long
  and include at least one lowercase letter, one uppercase letter, one number,
  and one special character like &#64;$!%*?&.
</p>
<form>
  <mat-form-field class="form-field">
    <mat-label>New Password</mat-label>
    <input
      placeholder="at least 8 chracters"
      [(ngModel)]="password"
      matInput
      [type]="hide() ? 'password' : 'text'"
      name="password"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hidePassClick($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide()"
      type="button"
    >
      <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
</form>
