.title {
  margin: 1.25rem 1.75rem;
}
.card {
  padding: 2rem;
  padding-block-start: 1rem;
  overflow: auto;
  max-height: 80vh;

  .add-user-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .radio-buttons {
      display: flex;
      align-items: center;
    }
    .submit-button-container {
      padding-block-start: 1rem;

      > button {
        width: 100%;
      }
    }
  }
}
