/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.login-form {
  .mdc-text-field {
    background: none !important;
    padding: 0;
  }
  .mdc-text-field:hover * {
    background: none;
  }
  .mat-mdc-form-field-infix {
    width: 70%;
  }
}
