.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;

    .vertical-line {
      height: 600px;
      border-left: 1px solid #aaa;
    }

    .form-container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      width: 80%;

      .form {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;

        .login-field {
          width: 60%;
        }

        button {
          font-size: 1.2rem;
          width: 60%;
          height: 4.5rem;
          border-radius: 1rem;
          background-color: rgba(38, 103, 255, 0.1);
          color: #2667ff;
        }
      }
    }

    #network {
      height: 100%;
      width: 100%;
    }
  }
}
