name: angular CI release

on:
  push:
    branches: [ "main" ]

jobs:
  version:
    needs: [build, test]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      
      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
            
      - name: Create a GitHub release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.tag_version.outputs.new_tag }}
          name: Release ${{ steps.tag_version.outputs.new_tag }}
          body: ${{ steps.tag_version.outputs.changelog }}
          
      - name: Print new tag
        run: echo ${{ steps.tag_version.outputs.new_tag }}
        
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
        
    steps:  
    - uses: actions/checkout@v4  

    - name: Use Node.js ${{ matrix.node-version }}  
      uses: actions/setup-node@v4  
      with:  
        node-version: ${{ matrix.node-version }}  
        cache: 'npm'  

    - name: Install dependencies  
      working-directory: .  
      run: npm ci  

    - name: lint scan
      run: npm lint

    - name: Build project  
      working-directory: .  
      run: npm run build --if-present

  test:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: test in container
        run: docker build -t node-docker-image-test --no-cache --target test .
